.qr-code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.qr-code-container img {
    width: 250px;
    height: 250px;
}

.qr-code-button {
    margin-top: 20px;
    border: none;
    background: #47B39E;
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* Hide the mobile-only buttons on desktop */
.mobile-only {
    display: none;
}

/* Display the buttons only on mobile devices */
@media only screen and (max-width: 768px) {
    .mobile-only {
        display: flex !important;
    }
}
